@charset "utf-8";
@font-face {
    font-family: 'IBM Plex Sans KR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #0f0f0f;
  width: 1440px;
  margin: auto;
}

.banner {
  float: right;

  width: auto;
  height: auto;
  max-width: auto;
  max-height: 15em;
}


/*===HEADER===*/
header {
  display: flex;
  background-color: #0f0f0f;
  height: 17rem;

  font-style: normal;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header div {
  font-size: 3.25rem;
  font-weight: bold;
}
header div > a {
  color: #f0f0f0;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: #333333;
  height: 2.25rem;
}
nav li {
  display: inline-block;
  width: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  font-size: medium;
  font-style: normal;
  font-weight: normal;
}
nav li > a {
  color: #deb564;
  text-decoration: none;
}
nav li > a:hover {
  color: #E2921C;
  text-decoration: none;
}


/*===BODY===*/
body > div {
  background-color: #202020;
}

body article {
  color: #f0f0f0;

  padding: 3rem 5rem;

  text-align: left;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}

/*===FOOTER===*/
footer {
  background-color: #0f0f0f;
  justify-content: center;
  text-align: center;

  padding: 1rem 0rem;
}

footer a {
  color: #f0f0f0;
  text-decoration: none;
}
footer a:hover {
  color: #E2921C;
  text-decoration: none;
}