@charset "utf-8";
html, body, div, span, applet, object, iframe, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; text-decoration: none; }

h1, h2, h3, h4, h5, {
  font-family: 'IBM Plex Sans KR';
  font-weight: bold;
  text-decoration: none;
}

html, body { height: 100%; padding:0; margin:0; }
img, fieldset { border:0 }
ul, ol { list-style:none; text-decoration: none; }
em, address { font-style:normal }
a { text-decoration:none }

body {
  background-color: #0f0f0f;
  width: 1440px;
  margin: auto;
}

.banner {
  width: auto;
  height: 60%;
  float: right;
}


/*===HEADER===*/
header {
  display: flex;
  background-color: #0f0f0f;
  height: 17rem;

  font-style: normal;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header div {
  font-size: 3.25rem;
  font-weight: bold;
}
header div > a {
  color: #f0f0f0;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: #333333;
  height: 2.25rem;
}
nav li {
  display: inline-block;
  width: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  font-size: medium;
  font-style: normal;
  font-weight: normal;
}
nav li > a {
  color: #deb564;
  text-decoration: none;
}
nav li > a:hover {
  color: #E2921C;
  text-decoration: none;
}


/*===BODY===*/
body > div {
  background-color: #202020;
}

body article {
  color: #f0f0f0;

  padding: 3rem 5rem;

  text-align: left;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}