article > div { display: flex; flex-wrap: wrap; }

/*===========================================*/
/*=================Introduce=================*/
/*===========================================*/
.introduce {
   display: flex;
   flex-grow: 1;
   flex-direction: column;

	color: #f0f0f0;
}
.icons { flex-grow: 0; }
.icon { margin-right: 5px; }
.icon:hover { color: #e2921c; }

h2 {
  font-family: 'Jeju';
  font-size: 1.5rem;
  color: #deb564;
  padding-top: 0.5rem;
}
h2:hover { color: #e2921c; }

p > a { color: #deb564; }
a { color: inherit; text-decoration: none; }
a:hover { color: inherit; }



/*===========================================*/
/*==================Banner===================*/
/*===========================================*/
.banner {
   flex-grow: 0;
	float: right;

   width: auto;
   height: auto;
	max-width: 460px;
	max-height: 15rem;
}
